<div class="centered-form">
  <div class="centered-form__form">
    <form action="/registration" method="post">

      <div class="form-field">
        <h3>New account</h3>
      </div>

      <div class="form-field">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" autofocus />
      </div>

      <div class="form-field">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" autofocus />
      </div>

      <div class="form-field">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </div>

      <div class="form-field">
        <button>Register</button>
      </div>

    </form>

    <div class="form-field">
      <a href="/login" class="button secondary">Login</a>
    </div>
  </div>
</div>
